{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- this doesnt work because of django defined configurations( load garera link garna parxa) -->
    <!-- <link rel="stylesheet" href="../static/styles.css"> --> 
    <link rel="stylesheet" href="{% static 'firstapp/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>{%block title%} Home {%endblock title%}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'html_view'%}">B1dhanBlogs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li>{% if request.user.is_authenticated %}
            <a href="{% url 'profile_view' %}" class="dropdown-item">Profile</a>
            {% endif %}</li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">My Blog</a></li>
          </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'create_post'%}"> Add Post</a>
          </li>
      </ul>

<form class="d-flex" role="search" method="get" action="{% url 'search' %}">
    <input class="form-control me-2" type="search" name="q" value="{{ q }}" placeholder="Search" aria-label="Search"/>
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

  {%if user.is_authenticated%}
      <p style="color: white;"> User: {{user}} </p>
      <form method="post" action="{%url 'logout_view'%}">
          {% csrf_token%}
          <button type="submit">Logout</button>
      </form>
      {%else%}
      <p> <a href="{%url 'login_view' %}">Log In </a></p>
      <p> <a href="{%url 'signup_view' %}">Sign Up</a></p>
  {%endif%}

    </div>
  </div>
</nav>

  {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<main class="container">
    {%block content%}
    <h1 style="text-align: center">Welcome to Blog Posts!</h1>
        {%if posts%}
        {%for post in posts%}
  <a href="{%url 'post_detail' post.id%}" style="text-decoration: none;">
  <div class="card mb-4">       
   <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="text-seconadary">
      <span>{{post.created_by}}</span>
      <span>{{post.category}}</span>
      <span>{{post.created_at|date:"m-d"}}</span>
    </p>
    <p class="card-text">{{post.content}}</p>
    </div>
  </div>  
  </a>
{%endfor%}
{%else%}
<p>No Post Available</p>
{%endif%}
    {%endblock content%}
</main>
<footer class="bg-dark text-light text-center py-3 mt-5">
    <div class="container">
        <p class="mb-0">&copy; {% now "Y" %} b1dhan. All rights reserved.</p>
    </div>
</footer>
</body>
</html>