{%extends "firstapp/index.html"%}

{%if post%}
{%block title%}{{post.title}}{%endblock title%}
{%else%}
<div>Post Detail</div>
{%endif%}

{%block content%}
{%if post%}
<div>
    <h2>{{post.title}}</h2>
</div>
<div>
    <h5>{{post.created_by}}</h5>
</div>
<div>
    <p>{{post.content}}</p>
</div>

{% if request.user == post.created_by %}
    <a href="{% url 'edit_post' post.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
    <a href="{% url 'delete_post' post.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
{% endif %}
{%else%}

<div>
    post with id: {{post.id}} doesnt exist
</div>.
{%endif%}
{%endblock content%}
